/* App.css */

/* Apply styles to the app container */
.app-container {
  text-align: center;
  padding: 20px;
}

/* Apply styles to the loading message */
.loading {
  font-size: 1.2em;
  margin-top: 20px;
}

/* Apply styles to the card layout */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex-basis: 30%;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
}

/* Apply styles to the button container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

/* Apply styles to the predict button */
.predict-button,
.refresh-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.predict-button:hover,
.refresh-button:hover {
  background-color: #0056b3;
}

/* Prediction.css */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.table-header{
  align-items: center;
  min-height: 10vh;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

th, td {
  padding: 12px 15px;
  text-align: center;
}

thead {
  background-color: #333;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination li.active {
  font-weight: bold;
}
